* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vmin;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid gray;
}

p {
  margin-bottom: 10px;
}

.colored {
  background-color: lightgreen;
}

ul {
  margin-left: 30px;
}
