* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  text-align: center;
  margin: auto;
  width: 220px;
  height: 200px;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid gray;
  text-align: left;
}

li {
  list-style-type: none;
}
